@import "../../variables.scss";

.modalForm{
   display: flex;
   flex-direction: column;
   gap: 16px;
   min-width: 320px;


   & .formGrup{
      display: flex;
      flex-direction: column;
      gap: 6px;
      
   

      & label{
         font-size: 16px;
         font-weight: 600;
      }

      & span{
         font-size: 12px;
         font-weight: 600;
         color: $clr-black;
      }

      & input, select{
         padding: 8px;
         width: 100%;
         border-radius: 4px;
      }
   }

   & .onelineBox{
      display: flex;
      justify-content: space-between;
      gap: 6px;
   }

   & .ages{
      flex: 1;
   }

   & .status{
      flex: 1;
   }
}
