@import "../../variables.scss";

.modalBackdrop{
   position: fixed;
   inset: 0;
   background-color: $clr-blue-dark;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal{
   position: relative;
   background-color: $clr-white;
   padding: 48px;
   border-radius: 16px;
   border: 4px solid $clr-purpur;
   z-index: 100;
   
   & .modalCloseBtn{
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 8px;
      color: $clr-purpur;
      display: flex;
      align-items: center;
      justify-items: center;
   }
}