$clr-white: rgb(255, 255, 255);
$clr-grey: rgb(183, 180, 184);
$clr-black: rgb(59, 57, 57);
$clr-blue-dark: rgba(66, 68, 90, 0.5);
$clr-purpur: rgb(128, 0, 128);
$clr-purpur-light: rgba(128, 0, 128, 0.466);
$clr-green: rgb(5, 190, 5);
$clr-red: rgb(228, 66, 66);


$space-lg: 20px;
$space-md: 16px;
$space-sp: 16px;