@import "../../variables.scss";

.actions{
   padding: 16px;
   border-radius: 16px;
   background-color: $clr-white;
   display: flex;
   align-items: center;
   gap: 16px;
   
   & button{
      color: $clr-white;

      &:disabled{
         cursor: not-allowed;
         background-color: $clr-grey;
      }
   }

   .green{
      background-color: $clr-green;
   }

   .red{
      background-color: $clr-red;
   }
}