.actions{
   padding: 16px;
   border-radius: 16px;
   background-color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   gap: 16px;

   & button{
      color: white;

      &:disabled{
         cursor: not-allowed;
         background-color: rgb(183, 180, 184);
      }
   }

   .green{
      background-color: rgb(5, 190, 5);
   }

   .red{
      background-color: rgb(228, 66, 66);
   }
}